.page {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
}

.card_preload {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 584px;
  height: 250px;
	padding: 24px;
	margin: 24px;
	border-radius: 40px;
	box-sizing: border-box;
	background-color: #1c1c21;
}

.main {
	display: flex;
	justify-content: center;
	gap: 60px;
}

.orders {
	max-height: 90vh;
	overflow: auto;
}
