.title {
  justify-self: flex-start;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  gap: 5px;
  padding: 16px 0 20px;
}

.footer_item {
  display: flex;
  flex-direction: column;
  place-items: center center;
  gap: 8px;
  padding: 10px;
}
