.burger_constructor_page{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 600px;
	color: var(--text-primary-color);
}

.burger_constructor_widgets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  padding-bottom: 20px;
  overflow: auto;
}

.burger_constructor_footer{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
}