.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* width: 90%; */

  /* height: 90%; */
  height: 100%;

  /* overflow: auto; */
}

.widgetItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;

  /* width: 90%; */

  /* height: 60vh; */
}
