.widget {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.widgetItems {
	display: flex;
	flex-direction: column;
	gap: 16px;
	overflow: auto;
}

.hover_area_buns {
	box-shadow: 0 0 3px 3px purple;
}

.hover_area_ingredients {
	box-shadow: 0 0 3px 3px purple;
}
